.pic-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

body {
  background-image: url("/MPB-wedding/SMO_Moon_Brochure_Art.png");
  background-size: cover;
}

h1 {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  box-shadow: 10px 10px 32px -12px rgba(0, 0, 0, 0.75);
}

button {
  margin-left: 100px;
}


.mario-shines {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.mario-words {
  background-color: white;
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid red;
}

.peach-shines {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.peach-words {
  background-color: white;
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid red;
}
.bowser-shines {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.bowser-words {
  background-color: white;
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid red;
}

